
body
{
/* background-image: url(https://thumbs.dreamstime.com/b/chocolate-chip-cookies-black-background-tasty-152024150.jpg); */
background-image: url(https://thumbs.dreamstime.com/b/drink-milk-cookies-concept-cup-milk-fresh-homemade-cookies-yellow-background-top-view-drink-milk-cookies-134657049.jpg);
}

h1 
{
    font-family: 'Architects Daughter', cursive;
    font-size: 80px;
    color: black;
    text-align: center;
}

#location {
    bottom: 20px;
}


main nav
{
    background-color: white;
    height: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 25px;
    border-radius: 20px;
    margin-left: 500px;
    margin-right: 500px;
    padding-left: 0px;
}

main nav a 
{
    margin-left: 100px;
    font-weight: bolder;
    text-decoration: none;
    font-size: 20px;
    color:#A64F03;
    font-family: cursive;    
}

main nav  a:hover
{
    font-size: 20px;
    color: black;    
}

h2{
    font-family: 'Architects Daughter', cursive;
    font-size: 30px;
    color: black;
    text-align: center;
}
main section img {
    float: right;
    width: 27%;
    height: auto;
    border-radius: 50%;
    padding-right: 100px;
}

div img
{
    float: left;
    width: 27%;
    height: auto;
    border-radius: 50%;
    padding-left: 100px;

}

main div:last-child(){
    width: 27%;
    height: auto;
    border-radius: 50%;
    padding-left: 100px;
    padding-right: 200px;

}

.about {
    background-color: #262626;
    color: white;
    font-size: 18px;
    line-height: 25px;
    font-family: 'Architects Daughter', cursive;
    display: inline-block;
    text-indent: 50px;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 50px;
}
.about img {
    float: left;
    padding-right: 20px;
    width: 235px;
}

.salmon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
}

.shirt {
    width: 522px;
    background-color: #262626;
    color: white;
    font-size: 18px;
    line-height: 25px;
    font-family: 'Architects Daughter', cursive;
    display: inline-block;
    /* text-indent: 10px; */
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 50px;
}
.shirt img {
    float: left;
    padding-right: 20px;
    width: 235px;
}

.family {
    float: right;
    width: 522px;
    background-color: #262626;
    color: white;
    font-size: 18px;
    line-height: 25px;
    font-family: 'Architects Daughter', cursive;
    display: inline-block;
    /* text-indent: 10px; */
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 50px;
}
.family img {
    float: left;
    padding-right: 20px;
    width: 235px;
}